# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [17]:
!pip install sqlalchemy==1.4.6 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [18]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [19]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'IvanCalderonCulebras'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [20]:
if not database_exists(engine.url):
    create_database(engine.url)

In [21]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL', engine)

ValueError: ignored

In [22]:
query = "select * from SPACEXTBL;"
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058,1
86,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058,1
87,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058,1
88,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857,1
89,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [23]:
#Rellena la variable query con tu consulta
query = """ SELECT DISTINCT(LaunchSite)
FROM SPACEXTBL  """
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [24]:
# 5 lanzamientos cuya plataforma empiece por 'CCS'
query2 = """ SELECT *
FROM SPACEXTBL
WHERE LaunchSite LIKE 'CCS%'
LIMIT 5 """# % al final-> principio % al principo-> final
df  = pd.read_sql(query2, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
4,5,6,2014-01-06,Falcon 9,3325.000000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,Thaicom,1,0,B1005,-80.577366,28.561857,0

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [25]:
# 5 lanzamientos cuya plataforma empiece por 'CCS'
query3 = """ SELECT SUM(PayloadMass)
FROM SPACEXTBL
WHERE Customers='NASA (CRS)'
"""# % al final-> principio % al principo-> final
df  = pd.read_sql(query3, con = engine )
df

   SUM(PayloadMass)
0           47094.7

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [32]:

query4 = """ SELECT AVG(PayloadMass)
FROM SPACEXTBL
WHERE Serial LIKE 'B1%'
"""# % al final-> principio % al principo-> final
df  = pd.read_sql(query4, con = engine )
df

   AVG(PayloadMass)
0       6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [31]:
query5 = """ SELECT Date
FROM SPACEXTBL
WHERE LandingOutcome LIKE 'TRUE RTLS%'
order by Date
LIMIT 1
"""# % al final-> principio % al principo-> final
df  = pd.read_sql(query5, con = engine )
df

         Date
0  2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [33]:
query6 = """ SELECT Serial
FROM SPACEXTBL
WHERE LandingOutcome LIKE 'TRUE ASDS%'
AND PayloadMass BETWEEN 4000 AND 6000
"""# % al final-> principio % al principo-> final
df  = pd.read_sql(query6, con = engine )
df

  Serial
0  B1022
1  B1026
2  B1021
3  B1031
4  B1046
5  B1046
6  B1059

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [37]:
query7 = """ SELECT count(Serial) 
FROM SPACEXTBL
WHERE LandingOutcome LIKE 'TRUE%'
UNION 
SELECT count(Serial) AS INCORRECTOS
FROM SPACEXTBL
WHERE LandingOutcome LIKE 'FALSE%'

"""# % al final-> principio % al principo-> final
df  = pd.read_sql(query7, con = engine )
df

   count(Serial)
0             60
1              9

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [45]:
query8 = """ SELECT SeriaL, PayloadMass
FROM SPACEXTBL
HAVING PayloadMass=15600.0

"""# % al final-> principio % al principo-> final
df  = pd.read_sql(query8, con = engine )
df

   SeriaL  PayloadMass
0   B1048      15600.0
1   B1049      15600.0
2   B1051      15600.0
3   B1056      15600.0
4   B1048      15600.0
5   B1051      15600.0
6   B1049      15600.0
7   B1059      15600.0
8   B1049      15600.0
9   B1060      15600.0
10  B1058      15600.0
11  B1051      15600.0
12  B1060      15600.0

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [46]:
query9 = """ SELECT LandingOutcome, SeriaL
FROM SPACEXTBL
WHERE Date LIKE '2015%' AND LandingOutcome LIKE 'FALSE%' or LandingOutcome LIKE 'None%'

"""# % al final-> principio % al principo-> final
df  = pd.read_sql(query9, con = engine )
df

   LandingOutcome SeriaL
0       None None  B0003
1       None None  B0005
2       None None  B0007
3       None None  B1004
4       None None  B1005
5       None None  B1008
6       None None  B1011
7      False ASDS  B1012
8      False ASDS  B1015
9       None None  B1016
10      None ASDS  B1018
11      None ASDS  B1028
12      None None  B1030
13      None None  B1034
14      None None  B1037
15      None None  B1044
16      None None  B1041
17      None None  B1039
18      None None  B1040
19      None None  B1045
20      None None  B1054
21      None None  B1047
22      None None  B1046

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [49]:
# Mission_Outcome	ReusedCount
query10 = """ SELECT LandingOutcome, Mission_Outcome, ReusedCount, Date
FROM SPACEXTBL
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
ORDER BY ReusedCount DESC

"""# % al final-> principio % al principo-> final
df  = pd.read_sql(query10, con = engine )
df

   LandingOutcome  Mission_Outcome  ReusedCount        Date
0       True ASDS                1            1  2016-04-08
1       True ASDS                1            1  2016-05-27
2       True RTLS                1            1  2016-07-18
3       True ASDS                1            1  2017-01-14
4       True RTLS                1            1  2017-02-19
5       None None                1            0  2010-06-04
6       None None                1            0  2012-05-22
7       None None                1            0  2013-03-01
8     False Ocean                1            0  2013-09-29
9       None None                1            0  2013-12-03
10      None None                1            0  2014-01-06
11     True Ocean                1            0  2014-04-18
12     True Ocean                1            0  2014-07-14
13      None None                1            0  2014-08-05
14      None None                1            0  2014-09-07
15    False Ocean                1            0  2014-09-21
16     False ASDS                1            0  2015-01-10
17     True Ocean                1            0  2015-02-11
18     False ASDS                1            0  2015-04-14
19      None None                1            0  2015-04-27
20      None ASDS                0            0  2015-06-28
21      True RTLS                1            0  2015-12-22
22     False ASDS                1            0  2016-01-17
23     False ASDS                1            0  2016-03-04
24      True ASDS                1            0  2016-05-06
25      True ASDS                1            0  2016-08-14
26      None ASDS                0            0  2016-09-01
27      None None                1            0  2017-03-16